<h3>Expenses</h3>

<h3>Search: </h3>

  <div class="">
    <span>Type: Expense</span>
  </div>
  <div class="">
    <span><%= minDate.month %>/<%= minDate.day %>/<%= minDate.year %></span>
  </div>
  <div class="">
    <span><%= maxDate.month %>/<%= maxDate.day %>/<%= maxDate.year %></span>
  </div>
