<%- include("partials/header.ejs") -%>


<div class="container-fluid">

  <div class="header-section">
    <h1 class="header-text">Finances</h1>

    <div class="row">
      <div class="col-12">
        <form class="amount-add" action="/" method="post">
          <div class="row">
            <div class="col-2">
              <select name="type">
                <option value="income">Income</option>
                <option value="expense">Expense</option>
              </select>
            </div>
            <div class="col-2">
              <input type="date" min="2018-12-31" max="<%= date %>" value="<%= date %>" name="newDate">
            </div>
            <div class="col-2">
              <input type="number" step="0.01" name="newAmount" placeholder="Amount">
            </div>
            <div class="col-5">
              <input type="text" name="newDescription" placeholder="Description">
            </div>
            <div class="col-1">
              <button class="submit-amount" type="submit" name="button">+</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h3>Filter By:</h3>
      </div>
      <div class="col-lg-12">
        <form class="" action="/amounts" method="get">
          <div class="row">
            <div class="col-lg-2">
              <select class="type-select" name="type">
                <option value="none">All</option>
                <option value="income">Income</option>
                <option value="expense">Expense</option>
              </select>
            </div>
            <div class="col-lg-2">
              <select class="day-select" name="day">
                <option value="none">Day</option>
                <% for (var i = 1; i < 32; i++) { %>
                  <option value="<%= i %>"><%= i %></option>
                <% } %>
              </select>
            </div>
            <div class="col-lg-3">
              <select class="month-select" name="month">
                <option value="none">Month</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
              </select>
            </div>
            <div class="col-lg-3">
              <select class="year-select" name="year">
                  <option value="none">Year</option>
                <% for (var i = 2020; i > 2015; i--) { %>
                  <option value="<%= i %>"><%= i %></option>
                <% } %>
              </select>
            </div>

            <div class="col-lg-2">
              <button type="submit" name="button" value="none">Find</button>
            </div>
          </div>
        </form>
      </div>
    </div>



  </div>

  <div class="money-section">
    <div class="row">
      <div class="income-section col-lg-6">
        <h3>Income <span class="income-title"><%= income %></span></h3>
        <% amounts.forEach(function(amount){ %>
        <%  if (amount.type == "income") { %>

            <div class="income row">

              <div class="col-lg-2 col-md-2 col-3">
                <div class="amount-date">
                  <%= amount.date.month %>/<%= amount.date.day %>/<%= amount.date.year %>
                </div>
              </div>
              <div class="col-lg-2 col-md-2 col-9">
                <div class="amount-amount">
                  <%= amount.amount %>
                </div>
              </div>
              <div class="col-lg-7 col-md-7 col-12">
                <div class="amount-description">
                  <%= amount.description.substr(0, 40); %>
                </div>
              </div>
              <div class="col-lg-1 col-md-1 col-12">
                <form class="" action="/<%= amount._id %>?_method=DELETE" method="post">
                  <button id="del" class="delete-item" type="submit" name="button">-</button>
                </form>
              </div>

            </div>

        <%  } %>
        <% }) %>
      </div>
      <div class="expense-section col-lg-6">
          <h3>Expense <span class="expense-total"><%= expense %></span></h3>
          <% amounts.forEach(function(amount){ %>
          <% if (amount.type == "expense") { %>

                <div class="expense row">
                  <div class="col-lg-2 col-md-2 col-3">
                    <div class="amount-date">
                      <%= amount.date.month %>/<%= amount.date.day %>/<%= amount.date.year %>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-9">
                    <div class="amount-amount">
                      <%= amount.amount %>
                    </div>
                  </div>
                  <div class="col-lg-7 col-md-7 col-12">
                    <div class="amount-description">
                      <%= amount.description.substr(0, 40); %>
                    </div>
                  </div>
                  <div class="col-lg-1 col-md-1 col-12">
                    <form class="" action="/<%= amount._id %>?_method=DELETE" method="post">
                      <button class="delete-item" type="submit" name="button">-</button>
                    </form>
                  </div>
                </div>


            <% } %>
          <% }); %>
    </div>

  </div>
  </div>



</div>

<%- include("partials/footer.ejs") -%>
