<h3>Search: </h3>

  <div class="">
    <p>Type: Income</p>
  </div>
  <div class="">
    <p>From: <%= minDate.month %>/<%= minDate.day %>/<%= minDate.year %></p>
  </div>
  <div class="">
    <p>To: <%= maxDate.month %>/<%= maxDate.day %>/<%= maxDate.year %></p>
  </div>
