
<div class="current-search-header row">
  <div class="col-10">
    <h3>Current Search: </h3>
  </div>
  <div class="index-button-container col-2">
      <button data-state="<%= theme %>" type="button" class="close-forms close-current-search" name="button"><i class="fas fa-plus"></i></button>
  </div>
</div>

<div data-toggle="open" class="current-query-container">
    <div class="current-query-form">
      <form class="" action="/finances/amounts/queries/adjust" method="post">
        <button class="remove-query-button btn btn-md btn-dark" type="submit" name="removeItem" value="type">
          <span>Type:</span> <span class="sort-type-text"><%= type %></span>
          <span class="remove-query-icon">&times</span>
        </button>
      </form>
    </div>

    <div class="current-query-form">
      <form class="" action="/finances/amounts/queries/adjust" method="post">
          <% if (!sortAdjusted) { %>
              <button class="remove-query-button btn btn-md btn-dark" type="submit" name="removeItem" value="sortType">
                <span>Sort:</span> <%= sortType %>
                <span class="remove-query-icon">&times</span>
              </button>
          <% } %>
      </form>
    </div>

    <div class="current-query-form">
      <form class="" action="/finances/amounts/queries/adjust" method="post">
        <% if (!minAdjusted) { %>
          <button class="remove-query-button btn btn-md btn-dark" type="submit" name="removeItem" value="minDate">
                From:  <%= minDate.month %>/<%= minDate.day %>/<%= minDate.year %>
            <span class="remove-query-icon">&times</span>
          </button>
        <% } %>
      </form>
    </div>

    <div class="current-query-form">
      <form class="" action="/finances/amounts/queries/adjust" method="post">
        <% if (!maxAdjusted) { %>
          <button class="remove-query-button btn btn-md btn-dark" name="removeItem" type="submit" value="maxDate">
            To: <%= maxDate.month %>/<%= maxDate.day %>/<%= maxDate.year %>
            <span class="remove-query-icon">&times</span>
          </button>
        <% } %>
      </form>
    </div>
</div>

<script src="../scripts/finances.js" charset="utf-8"></script>
<script src="./scripts/finances.js" charset="utf-8"></script>
