<div class="money-section">


<% if (!all) { %>

  <div class="row">
    <div class="col-10">
      <h3>Current Search: </h3>
    </div>
    <div class="index-button-container col-2">
        <button type="button" class="display-form" name="button"><i class="fas fa-plus"></i></button>
    </div>
  </div>

  <div class="current-query-container">

    <div class="current-query-form">
        <button type="button" class="remove-query-button btn btn-md btn-dark" name="removeItem" value="type">
          Type: All
        </button>
    </div>

    <div class="current-query-form">
      <form class="" action="/amounts/queries/adjust" method="post">
        <% if (!sortAdjusted) { %>
        <button type="submit" class="remove-query-button btn btn-md btn-dark" name="removeItem" value="sortType">
          <span>Sort:</span> <%= sortType %>
          <span class="remove-query-icon">&times</span>
        </button>
        <% } %>
      </form>
    </div>

    <div class="current-query-form">
      <form class="" action="/amounts/queries/adjust" method="post">
        <% if (!minAdjusted) { %>
          <button class="remove-query-button btn btn-md btn-dark" type="submit" name="removeItem" value="minDate">
                From:  <%= minDate.month %>/<%= minDate.day %>/<%= minDate.year %>
            <span class="remove-query-icon">&times</span>
          </button>
        <% } %>
      </form>
    </div>

    <div class="current-query-form">
      <form class="" action="/amounts/queries/adjust" method="post">
        <% if (!maxAdjusted) { %>
          <button class="remove-query-button btn btn-md btn-dark" type="submit" name="removeItem" value="maxDate">
                To:  <%= maxDate.month %>/<%= maxDate.day %>/<%= maxDate.year %>
            <span class="remove-query-icon">&times</span>
          </button>
        <% } %>
      </form>
    </div>
  </div>

<hr class="index-hr">

<% } %>


  <div class="row">
    <div class="income-section col-lg-6">
      <h3>Income <span class="income-title"><%= income %></span></h3>
      <% amounts.forEach(function(amount){ %>
      <%  if (amount.type == "income") { %>

          <div class="income row">
            <div class="amount-container col-lg-2 col-md-2 col-3">
              <div class="amount-date">
                <%= amount.date.month %>/<%= amount.date.day %>/<%= amount.date.year %>
              </div>
            </div>
            <div class="amount-container col-lg-2 col-md-2 col-9">
              <div class="amount-amount">
                <%= amount.amount %>
              </div>
            </div>
            <div class="amount-container col-lg-7 col-md-7 col-12">
              <div class="amount-description">
                <%= amount.description.substr(0, 40); %>
              </div>
            </div>
            <div class="amount-button-container col-lg-1 col-md-1 col-12">
              <form class="delete-item-form" action="/<%= amount._id %>?_method=DELETE" method="post">
                <button class="" class="delete-item" type="submit" name="button"><i class="far fa-trash-alt"></i></button>
              </form>
            </div>

          </div>

      <%  } %>
      <% }) %>
    </div>
    <div class="expense-section col-lg-6">
        <h3>Expense <span class="expense-total"><%= expense %></span></h3>
        <% amounts.forEach(function(amount){ %>
        <% if (amount.type == "expense") { %>

              <div class="expense row">
                <div class="col-lg-2 col-md-2 col-3">
                  <div class="amount-date">
                    <%= amount.date.month %>/<%= amount.date.day %>/<%= amount.date.year %>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-9">
                  <div class="amount-amount">
                    <%= amount.amount %>
                  </div>
                </div>
                <div class="col-lg-7 col-md-7 col-12">
                  <div class="amount-description">
                    <%= amount.description.substr(0, 40); %>
                  </div>
                </div>
                <div class="col-lg-1 col-md-1 col-12">
                  <form class="" action="/<%= amount._id %>?_method=DELETE" method="post">
                    <button class="delete-item" type="submit" name="button">-</button>
                  </form>
                </div>
              </div>


          <% } %>
        <% }); %>
  </div>

</div>
</div>
