<%- include("./currentquery.ejs") -%>

<hr data-state="<%= theme %>" class="index-hr">

  <section class="income-only-section">
    <div class="income-header-row row">
      <div class="col-8">
        <h3>Income</h3>
      </div>
      <div class="col-3">
        <span data-state="<%= theme %>" class="income-total">$<%= Number(parseFloat(income).toFixed(2)).toLocaleString('en'); %></span>
      </div>
    </div>

    <div class="amount-section col-lg-12">
      <% amounts.forEach(function(amount){ %>

          <div class="amount row">
            <div data-state="<%= theme %>" class="amount-container col-lg-2 col-md-2 col-3">
              <div class="amount-date">
                <%= amount.date.month %>/<%= amount.date.day %>/<%= amount.date.year %>
              </div>
            </div>
            <div data-state="<%= theme %>" class="amount-container col-lg-2 col-md-2 col-3">
              <div class="amount-amount">
                <span class="dollar">$</span><%= Number(parseFloat(amount.amount).toFixed(2)).toLocaleString('en'); %>
              </div>
            </div>
            <div data-state="<%= theme %>" class="amount-container col-lg-7 col-md-7 col-5">
              <div class="amount-description">
                <%= amount.description.substr(0, 40); %>
              </div>
            </div>
            <div data-state="<%= theme %>" class="amount-button-container col-lg-1 col-md-1 col-1">
              <form class="delete-item-form" action="/finances/<%= amount._id %>?_method=DELETE" method="post">
                <button id="del" class="delete-item" type="submit" name="button"><i class="far fa-trash-alt"></i></button>
              </form>
            </div>

          </div>

      <% }) %>
    </div>
  </section>
