<%- include("./currentquery.ejs") -%>

<hr data-state="<%= theme %>" class="index-hr">

  <section class="income-only-section">
    <div class="income-header-row row">
      <div class="col-8">
        <h3>Income</h3>
      </div>
      <div class="col-4">
        <span data-state="<%= theme %>" class="income-total"><h3>$<%= Number(parseFloat(income).toFixed(2)).toLocaleString('en'); %></h3></span>
      </div>
    </div>

    <div class="amount-section col-lg-12">
      <% amounts.forEach(function(amount){ %>

          <div class="amount income-only-amount row">

            <div data-state="<%= theme %>" class="amount-container income-show-container col-1">
              <button type="button" class="show-description-button" name="">+</button>
            </div>


            <div data-state="<%= theme %>" class="amount-container col-lg-2 col-md-2 col-6">
              <div class="amount-date">
                <%= amount.date.month %>/<%= amount.date.day %>/<%= amount.date.year %>
              </div>
            </div>

            <div data-state="<%= theme %>" class="amount-container col-lg-2 col-md-2 col-6">
              <div class="amount-amount">
                <span class="dollar">$</span><%= Number(parseFloat(amount.amount).toFixed(2)).toLocaleString('en'); %>
              </div>
            </div>

            <div data-state="<%= theme %>" class="delete-income-container col-1">
              <form class="delete-item-form" action="/finances/<%= amount._id %>?_method=DELETE" method="post">
                <button data-state="<%= theme %>" class="delete-item delete-income" type="submit" name="button"><i class="far fa-trash-alt"></i></button>
              </form>
            </div>

            <div data-state="<%= theme %>" class="amount-container income-description-container col-md-8 col-12">
              <div class="amount-description">
                <%= amount.description.substr(0, 40); %>
              </div>
            </div>

          </div>

      <% }) %>
    </div>
  </section>
