<%- include("./currentquery.ejs") -%>

<hr class="index-hr">

  <section>
    <div class="row">
      <div class="col-12">
        <h3>Income <span class="income-title"><%= income %></span> </h3>
      </div>
    </div>

    <div class="income-section col-lg-12">
      <% amounts.forEach(function(amount){ %>

          <div class="income row">
            <div class="amount-container col-lg-2 col-md-2 col-3">
              <div class="amount-date">
                <%= amount.date.month %>/<%= amount.date.day %>/<%= amount.date.year %>
              </div>
            </div>
            <div class="amount-container col-lg-2 col-md-2 col-9">
              <div class="amount-amount">
                <%= amount.amount %>
              </div>
            </div>
            <div class="amount-container col-lg-7 col-md-7 col-12">
              <div class="amount-description">
                <%= amount.description.substr(0, 40); %>
              </div>
            </div>
            <div class="amount-button-container col-lg-1 col-md-1 col-12">
              <form class="delete-item-form" action="/<%= amount._id %>?_method=DELETE" method="post">
                <button id="del" class="delete-item" type="submit" name="button"><i class="far fa-trash-alt"></i></button>
              </form>
            </div>

          </div>

      <% }) %>
    </div>
  </section>
